<%= erb :_errors, layout: false %>
<div class="container">

<div style="border-bottom: 1px solid black;">
<h3><%= @question.title %></h3>
<p>Asked by: <%= @question.user.username.capitalize %> on <%=@question.created_at.strftime("%b.%d  %Y")%> at <%=@question.created_at.strftime("%H:%M")%> </p>
</div>
<div class='question'>
  <br>
  <%= erb :'votes/_new', layout: false, locals: {voteable_object: @question} %>
  <div id="question-block">


    <br>
    <p><%= @question.description %></p>
      <% if authorized?(@question)%>
        <h6>
        <form method="post" action="/questions/<%=@question.id%>">
          <input type="hidden" name="_method" value="delete">
          <a href="/questions/<%=@question.id%>/edit">Edit</a>
          <input style="border:none; background-color: transparent; color:#3366BB" type="submit" value="Delete">
        </form>
      </h6>
      <%end%>
      <%= erb :'comments/show', layout: false, locals: {object: @question} %>
  </div>
    <%= erb :'comments/new', layout: false, locals: {object: @question}%>
</div>


<br>
<br>
<br>

<div class=".answer-block">
  <% if @question.answers %>
    <% if @question.answers.count > 1 %>
     <h4><%=@question.answers.count%> Answers</h4>
     <% elsif @question.answers.count == 1 %>
     <h4><%=@question.answers.count%> Answer</h4>
     <% end %>
    <% end %>

<br>

<%= erb :"_answer" %>
<br>
  <h4>Your Answer</h4>
    <form id="display-answer" method="post" action="/questions/<%= @question.id %>/answers">
      <textarea name="description" placeholder="description"></textarea>
      <br>
      <input type="submit" value="submit new answer">
    </form>
</div>
</div>
