<div class='answer-container'>
  <% if @question.answers %>
  <% @question.sorted_answers.each do |answer| %>

    <article id="<%= answer.id %>">
      <form method="post" action='/answers/<%= answer.id %>/upvote' class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button>
      </form>

      <form method="post" action='/answers/<%= answer.id %>/downvote' class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button>
      </form>
      <p>
        <span><%= answer.description %></span>
        <% if authorized?(answer)%>
        <a class="edit" href='/answers/<%= answer.id %>/edit'>Edit</a>
        <a class="delete" href='/answers/<%= answer.id %>/delete'>Delete</a>
        <%end%>
      </p>
      <%= erb :'comments/show', layout: false, locals: {object: answer} %>
      <%= erb :'comments/new', layout: false, locals: {object: answer}%>
    </article>
    <% end %>
  <% end %>
</div>
