<%= erb :_errors, layout: false %>

<% if logged_in? %>
  <% answer = Answer.first %>
  <% if already_voted?(answer) %>

    <form class="" action="/votes" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="vote[voteable_type]" value="<%= answer.class %>">
      <input type="hidden" name="vote[voteable_id]" value="<%= answer.id %>">
      <input type="hidden" name="vote_value" value="1">
      <button type="submit" class="glyphicon glyphicon-hand-up">
    </form>

    <form class="" action="/votes" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="vote[voteable_type]" value="<%= answer.class %>">
      <input type="hidden" name="vote[voteable_id]" value="<%= answer.id %>">
      <input type="hidden" name="vote_value" value="0">
      <button type="submit" class="glyphicon glyphicon-remove-circle">
    </form>

    <form class="" action="/votes" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="vote[voteable_type]" value="<%= answer.class %>">
      <input type="hidden" name="vote[voteable_id]" value="<%= answer.id %>">
      <input type="hidden" name="vote_value" value="-1">
      <button type="submit" class="glyphicon glyphicon-hand-down">
    </form>

    <% else %>

    <form class="" action="/votes" method="post">
      <input type="hidden" name="vote[voteable_type]" value="<%= answer.class %>">
      <input type="hidden" name="vote[voteable_id]" value="<%= answer.id %>">
      <input type="hidden" name="vote[vote_value]" value="1">
      <button type="submit" class="glyphicon glyphicon-hand-up" name="" value="">
    </form>

    <form class="" action="/votes" method="post">
      <input type="hidden" name="vote[voteable_type]" value="<%= answer.class %>">
      <input type="hidden" name="vote[voteable_id]" value="<%= answer.id %>">
      <input type="hidden" name="vote[vote_value]" value="-1">
      <button type="submit" class="glyphicon glyphicon-hand-down" name="" value="">
    </form>

    <% end %>
<% end %>
